<div class="contanier">
  <div class="section1">
    <div class="bloc1">
      <%= image_tag "pres-intro.png", alt: "Description home", width: 600, class: "intro" %>
      <%= image_tag "Santa Brigida Bed And Breakfast phone.png", alt: "Description home", class: "intro-mobile" %>
      <div class="fleches">
        <%= image_tag "fleche-g.png", alt: "fleche", class: "fleche-g" %>
        <%= image_tag "fleche-d.png", alt: "fleche", class: "fleche-d" %>
      </div>
      <p class="button"><%= link_to "Voir les chambres", rooms_path, class: "text-button" %></p>
    </div>
    <div class="bloc2">
    </div>
  </div>
</div>
