<h2>STORIA E CULTURA</h2>
<div class="container">

  <div class="bloc-storia-1">
    <h3 class="title-storia">CORNELLO DEI TASSO</h3>

    <div class="row">
      <div class="col-6 first-col">
        <div class="act-1">
          <h4>Il museo</h4>
          <p>Il Museo dei Tasso e della Storia Postale è stato fondato nel 1991, in due edifici storici del borgo medievale di Cornello. Cornello fu il luogo d’origine della famiglia Tasso, nota in tutto il mondo per l'opera letteraria di Torquato Tasso e per l'abilità imprenditoriale di alcuni suoi esponenti, che fondarono e gestirono per secoli il servizio postale europeo.</p>
        </div>
      </div>

      <div class="col-6 second-col">
        <div class="act-1">
          <h4>Il Borgo</h4>
          <p>Cornello dei Tasso, in Valle Brembana, uno dei borghi più belli d'Italia, una delle località bergamasche dove meglio si è conservata la struttura urbanistica ed architettonica medioevale. Un tempo era al centro dei commerci che si svolgevano con la Valtellina lungo la Via Mercatorum, la più antica strada della Valle Brembana, ed era sede di un importante mercato. Sul finire del Cinquecento la sua fortuna cominciò a declinare in seguito alla costruzione, nel 1592, della nuova strada, la Priula. che correva sul fondovalle, alquanto discosta dal Cornello. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="trait">
  </div>

  <h3 class="title-storia">CITTÀ ALTA</h3>
  <p>Vista dall'autostrada che la collega a Milano, Bergamo appare così: cinque chilometri di mura che la stringono in un morbido abbraccio e, dietro, profili di torri e campanili che svettano con grande eleganza. Quello che dall'autostrada invece non si intuisce, è che Bergamo ha due realtà urbane ben distinte: città alta, il borgo antico che sembra un angolo di Toscana, e città bassa, cuore pulsante della vita commerciale. Iniziamo la nostra passeggiata dalla città alta. Piazza Vecchia è il cuore più antico della città, è "una delle piazze più affascinanti al mondo", come scriveva Le Corbusier dopo averla vista al tramonto. Formata in seguito alla demolizione di case e botteghe medievali</p>
  <%= image_tag "citta.jpg", alt: "Citta alta", class: "intro" %>

  <div class="trait">
  </div>

  <h3 class="title-storia">ROVELLI DI CUSIO</h3>
  <p>Nella quiete della Vallata, accanto alle folte abetaie crescevano a ridosso delle cascine robusti alberi di noce, che nella mente e nella mano dei nativi Rovelli diventavano preziosi simulacri, degni come pochi di entrare nella casa del Signore. Cassettoni, armadi, pulpiti, e confessionali si arricchivano di un'arte che, senza indulgere al virtuosismo, pur operando ad intaglio ed intarsi, esprimeva nelle figure e nelle decorazioni l'essenzialita' di una trama convincente e riflessiva. Come del resto doveva essere l'anima di chi era cresciuto a Cusio fra questi monti, ritirandone l'impronta del carattere.</p>

  <div class="trait">
  </div>

  <h3 class="title-storia">PITTORI BASCHENIS</h3>
  <p>Per oltre 200 anni, a partire dalla meta' del Quattrocento, i Pittori BASCHENIS si sono succeduti di padre in figlio, abbellendo di affreschi decine di chiese in terra Bergamasca e portando il nome della loro patria fin nelle remote valli del Trentino . Diversi per ispirazione e capacita' artistica, piuttosto restii ad accogliere le istanze rinascimentali, seppero tutti interpretare con gusto e originalita' le tematiche proprie dell'arte sacra, non disdegnando a volte di spaziare nel profano, fino a dare alla grande pittura italiana, le opere prestigiose di EVARISTO ,autentici capolavori in assoluto . I ben 19 artisti che in qualche modo hanno lasciato traccia della loro produzione appartengono a due diverse dinastie: quella di LANFRANCO, che annoverava quattro esponenti, attivi tra la seconda meta' del Quattrocento e i primi decenni del Cinquecento e quella di CRISTOFORO piu' numerosa, potrattasi fino alla seconda meta' del seicento . Divisi tra la produzione nella terra d'origine e quella nelle vallate trentine ( dove e' documentata la presenzadi almeno una decina di loro ) i BASCHENIS seppero affermarsi come i pittori delle fatiche e delle sofferenze del popolo contadino di montagna . Le loro Opere rispecchiano le aspirazioni della gente umile, fosse essa bergamasca o trentina, gente che trovo' nei BASCHENIS gli interpreti ideali del sentire comune . I Pittori BASCHENIS nacquero quasi tutti nella contrada COLLA di SANTA BRIGIDA dove e' stata individuata quella che fu la dimora della dinastia di CRISTOFORO . Tuttavia essi sono comunemente noti come BASCHENIS di AVERARA, cosi' infatti firmavano le loro opere o si qualificavano nei documenti che li riguardavano, dal momento che la COLLA, come l'intera SQUADRA di MEZZO apparteneva al comune della Valle AVERARA . Va' pero' precisato che negli atti notarili redatti in Valle Averara, dai notai del posto, e' semprepresente il riferimento:BASCHENIS DELLA COLLA .</p>
  <%= image_tag "baschenis", alt: "baschenis", class: "intro" %>

  <div class="trait">
  </div>

  <h3 class="title-storia">I VECCHI MULINI</h3>
  <h4>Il Mulino di Baresi</h4>
  <p>Il mulino "Maurizio Gervasoni", situato della frazione di Baresi, è stato costruito nel 1600. Nel 2003 viene segnalato nel primo censimento nazionale i Luoghi del Cuore promosso dal Fondo Ambiente Italiano. Aperto al pubblico nel 2006 dopo i lavori di restauro che lo hanno reso di nuovo funzionante, il mulino fornisce ai visitatori l'opportunità di comprendere la funzione e l'uso delle varie attrezzature di un tempo.</p>
  <%= image_tag "mulino", alt: "mulino di baresi", class: "intro" %>

  <h4>Il Mulino di Valtorta</h4>
  <p>L'itinerario museale prosegue con la visita agli edifici dei mulini, del maglio, della segheria, ai resti di una fucina, inseriti nel contesto della documentazione etnografica della vallata.La presenza di fucine, mulini e segherie azionate da ruote ad acqua che sfruttavano la ripida corrente dei torrenti fu una costante della vita economica di Valtorta e costituì per secoli la principale fonte di sussistenza di tutta la comunità.</p>
  <%= image_tag "Mulino-Valtorta", alt: "mulino di valtora", class: "intro" %>

  <h4>Il Mulino di Cusio</h4>
  <p>“L’Antico Mulino di Cusio, costruito oltre 150 anni fa, rappresentava un tempo una struttura di particolare importanza per l’economia e la sussistenza delle famiglie locali. Con il trascorrere degli anni la sua importanza si è attenuata e nel secondo dopoguerra l’attività del Mulino è stata soppiantata da più moderne tecnologie e dall’ottica industriale., Acquistato e messo in moto da oltre quarant’anni, il Mulino di Cusio ci permette di vedere e ritornare ai quei tempi.</p>

  <div class="trait">
  </div>

  <h3 class="title-storia">I MUSEI</h3>
  <h4>Museo della Valle a Zogno</h4>
  <p>Il Museo ha sede in un edificio seicentesco che ospito' illustri personaggi. Gli oggetti catalogati sono 3.500; gli esposti, suddivisi in una cinquantina di temi e dislocati in dodici sale, sono 2.500. La ricerca dei reperti fu' avviata nel 1970 da un gruppo di appassionati della Valle Brembana. Nel 1986 viene riconosciuto Ente Morale da parte della Regione Lombardia, mentre, nel 1999, assume l’attuale denominazione. Il museo vanta anche un’interessante attività editoriale con pubblicazioni di carattere prevalentemente etnografico. Per mantenere saldi i legami col territorio, l’istituzione promuove un’intensa attività culturale.</p>
  <%= image_tag "museo-della-valle", alt: "museo della valle", class: "intro" %>

  <h4>Museo di Arlecchino di Oneta in San Giovanni Bianco</h4>
  <p>La struttura e' interessata da un progetto integrale di recupero storico-museale che avvalora la tradizione brembana della Maschera. Il Borgo di Oneta e' formato da un gruppetto di belle case antiche, molte delle quali, ben restaurate, presentano ancora la secolare struttura ad archi ed accolgono il visitatore in un'atmosfera d'altri tempi, tra strette vie, seclciati pitrosi, oscuri porticati, ballatoi in legno a intagli rustici. Anche la chiesa merita di essere ammirata: si tratta di un esempio edificativo quattrocentesco che malgrado successive traformazioni ha mantenuto buona parte delle strutture originarie, quali la torre campanaria ed alcuni pregevoli affreschi. Notevole dal punto di vista archittetonico e' la cosidetta "Casa di Arlecchino". La casa di proprieta' del comune di San Giovanni Bianco si affaccia sulla piazzetta centrale a cui si accede mediante una bella scaletta in pietra.</p>

  <h4>Museo dei minerali e della Miniera di Zorzone Oltre il Colle</h4>
  <p>Nato negli anni settanta come raccolta e mostra di minerali, si è trasferito in questa sede, a Zorzone, nel 1992 ed è divenuto un vero e proprio Museo costituito da due sezioni : la sezione dei minerali ( che sono oltre 2000 esposti, molti dei quali di origine locale), la sezione dei fossili (più di 450) e quella della miniera.</p>

  <h4>Museo delle Scienze di San Pellegrino Terme</h4>
  <p>Espone circa 1500 fossili, risalenti al Permianoe al Triassico, raccolti in una decina di vetrine. Esrmplari di alto valore scientifico, essi documentano in modo completo le origini geologiche del territorio brembano e la vita che ospitava in ere passate.Annessa al museo , una interessante collezione di farfalle della Valle Brembanae una esposizione di pannelli con documentazioni della flora alpina bergamasca.</p>

  <h4>Museo di San Lorenzo di Zogno - Arte Sacra</h4>
  <p>Raccoglie testimonianze di carattere religioso, in particolare una collezione di affreschi recuperati in Val Brembana, una raccolta di dipinti tavole e tele sopratutto di autori locali, sculture e indumenti sacri. Nelle ampie sale si trovano anche numerosi ferri antichi, un'infinita'di oggetti appartenenti alle molteplici devozioni popolari, una raccolta di campane e pietre di manufatti della Valle.</p>

  <h4>Museo dei Tasso a Cornello dei Tasso</h4>
  <p>Il Museo di Cornello, in colleganza con le altre Istituzioni dedite alla valorizzazione delle memorie Tassiane, offre un importante punto di riferimento ostensivo al turismo culturale e scolastico della Valle Brembana. La Fondazione si trova nell'abitato di Cornello dei Tassi che puo'essere considerato uno dei piu' interessanti e significativi nuclei edificati di antica formazione della montagna bergamasca. Raggiungibile solo a piedi tramite comode mulattiere, il borgo sorge su uno sperone roccioso a picco sul fiume Brembo, lungo la vecchia " Via Mercatorum" della Valle. La grande armonia del luogo, la densita' delle memorie storiche, la maestosa via porticata, la chiesa Romanica e la pendente Torre Campanaria hanno sempre consacrato il sito tra i piu' emblematici ed importanti della storia e della cultura in Provincia di Bergamo.All’interno si trova un interessante ciclo di affreschi databili dal XV al XVI secolo, alcuni da attribuirsi ai Baschenis di Averara; pregevoli il “Miracolo di S.Eligio” patrono dei maniscalchi, per la proposta di ambienti, costumi ed attrezzi di lavoro quattrocenteschi, “S.Giorgio”, “S.Agata”, “l’Adorazione dei Magi”. Da Cornello ebbero origine i Tasso, fondatori di una società di corrieri postali che, dal XIV secolo, monopolizzò i servizi postali in Europa.</p>

  <h4>Museo Etnografico della Valle a Santa Brigida</h4>
  <p>Il Museo dovrebbe diventare uno dei fiori all’occhiello del patrimonio culturale dell’alta Valle Brembana. All’interno del Museo, si possono trovare le bellezze paesaggistiche (tramite fotografie o mezzi multimediali), storiche e architettoniche ma soprattutto le risorse turistiche che la Valle Averara e di Ornica offrivano.</p>
</div>
